In [1]:
import time
import pandas as pd
import pickle
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

# 1. 데이터 로드

In [2]:
import pickle
with open('df_sector.pickle','rb') as f:
    df_sector = pickle.load(f)
with open('sector.pickle','rb') as f:
    sector = pickle.load(f)

In [3]:
df_sector

{'Food': {'097950':              일자    거래량      시가      고가      저가      종가
  2999 2010-06-08  50727  211000  213500  209500  211000
  2998 2010-06-09  52375  212000  218000  210500  214000
  2997 2010-06-10  61195  214500  219500  213500  219000
  2996 2010-06-11  89684  217000  220000  211500  214500
  2995 2010-06-14  41941  216000  220000  215500  219000
  ...         ...    ...     ...     ...     ...     ...
  4    2022-07-27  16778  396500  400000  394000  395000
  3    2022-07-28  25944  395500  398000  391000  395000
  2    2022-07-29  27618  397500  397500  389000  391500
  1    2022-08-01  37653  391500  392000  383500  387000
  0    2022-08-02  29305  387000  388000  383000  385500

  [3000 rows x 6 columns],
  '271560':              일자      거래량      시가      고가      저가      종가
  1246 2017-07-07  1619864   87100   89700   75700   82300
  1245 2017-07-10   840451   82300   88000   81000   88000
  1244 2017-07-11   422303   88000   88000   82700   82800
  1243 2017-07-12   238407   83700   84600   80000   83500
  1242 2017-07-13   218138   83400   84000   80800   81600
  ...         ...      ...     ...     ...     ...     ...
  4    2022-07-27    78702  103000  103500  101000  102000
  3    2022-07-28   122707  102500  103500   99800  100500
  2    2022-07-29    92322  101000  101500   99600  100500
  1    2022-08-01   179252  100000  100500   97000   97800
  0    2022-08-02    89396   97900   99900   97800   99300

  [1247 rows x 6 columns],
  '000080':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08   41464  32150  32850  32150  32600
  2998 2010-06-09   38492  32650  32800  32450  32500
  2997 2010-06-10   65568  32550  32900  32400  32700
  2996 2010-06-11   71145  32900  33800  32700  33800
  2995 2010-06-14   63202  33800  34300  33400  34150
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27  175569  30100  30200  29750  30200
  3    2022-07-28  175955  30350  30550  29900  30150
  2    2022-07-29  269130  30200  30250  29950  30250
  1    2022-08-01  214785  30300  30450  30000  30150
  0    2022-08-02  342932  30200  30750  30100  30700

  [3000 rows x 6 columns],
  '004370':              일자    거래량      시가      고가      저가      종가
  2999 2010-06-08  13195  227000  227000  220000  222000
  2998 2010-06-09   9505  222500  222500  220500  222000
  2997 2010-06-10  14592  222000  227000  221000  224500
  2996 2010-06-11   6006  225000  228000  225000  227000
  2995 2010-06-14   8065  227000  229000  225000  226500
  ...         ...    ...     ...     ...     ...     ...
  4    2022-07-27   8545  282000  283000  280500  281500
  3    2022-07-28  10126  282000  284000  278000  278500
  2    2022-07-29  21450  280500  280500  276000  279500
  1    2022-08-01  32610  277500  278000  272000  273500
  0    2022-08-02  28311  271500  281500  271500  281000

  [3000 rows x 6 columns],
  '005300':              일자     거래량      시가      고가      저가      종가
  2999 2010-06-08   17720   78300   78300   77300   78200
  2998 2010-06-09   21610   77700   78200   77000   77600
  2997 2010-06-10   25830   77900   78000   76800   76800
  2996 2010-06-11   17700   77400   77800   76800   77600
  2995 2010-06-14   26280   77700   79200   77700   78600
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27   17714  174500  177500  171500  172500
  3    2022-07-28   15095  174000  175500  171500  173000
  2    2022-07-29   26679  175500  180000  173000  177500
  1    2022-08-01  170694  178000  184500  166000  168000
  0    2022-08-02   75189  168500  171000  167000  170000

  [3000 rows x 6 columns]},
 'Clothing': {'093050':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08  166089  24850  25650  24850  25550
  2998 2010-06-09  208765  25550  26500  25350  26450
  2997 2010-06-10  237507  26750  27350  26500  27050
  2996 2010-06-11  175558  27050  27500  26600  26750
  2995 2010-06-14  137210  26600  27550  26600  27400
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27   16930  17100  17100  16800  17000
  3    2022-07-28   35965  17000  17600  16900  17500
  2    2022-07-29   30425  17500  17650  17100  17450
  1    2022-08-01   30562  17400  17450  16950  17050
  0    2022-08-02   31910  17050  17100  16800  16900

  [3000 rows x 6 columns],
  '020000':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08  136130  13350  13750  13350  13750
  2998 2010-06-09  104960  13750  14350  13650  14000
  2997 2010-06-10  126502  14050  14300  13950  14000
  2996 2010-06-11   69514  14100  14350  14000  14200
  2995 2010-06-14  101678  14250  14400  13950  14100
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27   51262  30600  30950  30000  30800
  3    2022-07-28   57077  31050  31200  30100  30350
  2    2022-07-29   52004  30750  31200  30550  31100
  1    2022-08-01   31876  30900  31250  30750  30950
  0    2022-08-02   44372  30900  30950  30250  30600

  [3000 rows x 6 columns],
  '105630':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08   48616   5524   5727   5524   5682
  2998 2010-06-09   25585   5675   5735   5592   5697
  2997 2010-06-10   60671   5630   5697   5584   5630
  2996 2010-06-11   19298   5690   5690   5532   5622
  2995 2010-06-14   50937   5667   5705   5554   5569
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27  195686  16400  16650  16200  16600
  3    2022-07-28  299343  16800  16950  16200  16250
  2    2022-07-29  310992  16400  16750  16350  16750
  1    2022-08-01  257533  16850  16900  16600  16700
  0    2022-08-02  328300  16650  16800  16100  16300

  [3000 rows x 6 columns],
  '001070':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08    9655   5340   5500   5240   5470
  2998 2010-06-09    3100   5520   5520   5340   5450
  2997 2010-06-10   13150   5400   5400   5220   5280
  2996 2010-06-11    8840   5360   5740   5320   5740
  2995 2010-06-14    1400   5890   5890   5680   5720
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27    3484  50300  50500  49900  50200
  3    2022-07-28  230822  50100  50100  47800  48000
  2    2022-07-29   13648  48000  49450  48000  49000
  1    2022-08-01   18755  48500  49950  48400  49950
  0    2022-08-02    3583  49950  50900  49700  50900

  [3000 rows x 6 columns]},
 'Chemical': {'051910':              일자     거래량      시가      고가      저가      종가
  2999 2010-06-08  254900  286500  291000  285000  288000
  2998 2010-06-09  251091  290000  290000  285000  289000
  2997 2010-06-10  270990  289000  290500  283000  290000
  2996 2010-06-11  241134  294000  294000  285500  290500
  2995 2010-06-14  228545  290500  292000  286500  290000
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27  417385  584000  587000  556000  565000
  3    2022-07-28  553103  572000  605000  555000  598000
  2    2022-07-29  323842  603000  605000  595000  603000
  1    2022-08-01  281615  608000  628000  601000  613000
  0    2022-08-02  162952  612000  613000  604000  610000

  [3000 rows x 6 columns],
  '096770':              일자     거래량      시가      고가      저가      종가
  2999 2010-06-08  403667  105500  106500  104500  105000
  2998 2010-06-09  370062  105000  108000  105000  105500
  2997 2010-06-10  609909  107500  109000  106500  106500
  2996 2010-06-11  339220  109500  110000  107000  108500
  2995 2010-06-14  283633  110000  110500  108500  109000
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27  179267  184000  184500  180000  182500
  3    2022-07-28  326105  185000  187500  178500  182000
  2    2022-07-29  688623  183000  191000  182500  187500
  1    2022-08-01  265180  188500  190500  185500  186000
  0    2022-08-02  355370  186000  186500  179500  180000

  [3000 rows x 6 columns],
  '010950':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08  210874  51000  51700  50800  51200
  2998 2010-06-09  391071  51200  51300  50100  50500
  2997 2010-06-10  364663  50600  50900  50100  50200
  2996 2010-06-11  420603  50800  51500  50700  51100
  2995 2010-06-14  257125  51200  52000  51200  51800
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27  215846  91300  93000  91300  93000
  3    2022-07-28  538463  93600  93800  90500  91300
  2    2022-07-29  373846  91800  93000  91000  91800
  1    2022-08-01  391034  93200  94200  91900  91900
  0    2022-08-02  590070  92400  92400  88400  88600

  [3000 rows x 6 columns],
  '051900':              일자     거래량      시가      고가      저가      종가
  2999 2010-06-08   24792  335000  339000  332500  335500
  2998 2010-06-09   25404  333500  337500  330500  336000
  2997 2010-06-10   55959  335000  337000  329500  335000
  2996 2010-06-11   93322  333000  334000  321000  330500
  2995 2010-06-14   21964  330500  341000  329500  337000
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27  167418  722000  765000  700000  752000
  3    2022-07-28  145657  752000  779000  726000  743000
  2    2022-07-29  115281  765000  791000  760000  779000
  1    2022-08-01   55718  784000  792000  774000  788000
  0    2022-08-02   37017  789000  790000  767000  767000

  [3000 rows x 6 columns],
  '090430':              일자     거래량      시가      고가      저가      종가
  2999 2010-06-08  133070   97300   97500   96000   97300
  2998 2010-06-09  101080   98000   99000   97300   98700
  2997 2010-06-10  302410   98800  100000   97100   98300
  2996 2010-06-11  199700   99600  100100   97700   98000
  2995 2010-06-14  163080   98000  100300   98000   98200
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27  229211  137500  142500  134000  141500
  3    2022-07-28  858036  141000  144000  127000  127500
  2    2022-07-29  527143  128500  129000  125500  129000
  1    2022-08-01  168532  129000  129000  127500  128000
  0    2022-08-02  141412  127500  128000  126000  127000

  [3000 rows x 6 columns]},
 'Medicine': {'207940':              일자      거래량      시가      고가      저가      종가
  1408 2016-11-10  7264007  133421  146268  124032  142315
  1407 2016-11-11  8236911  147751  184318  140339  159610
  1406 2016-11-14  3012422  163070  175423  163070  173447
  1405 2016-11-15  2623646  176906  179376  160599  164058
  1404 2016-11-16  1680639  166529  170976  161587  168011
  ...         ...      ...     ...     ...     ...     ...
  4    2022-07-27    84428  829000  847000  828000  841000
  3    2022-07-28   108584  844000  867000  844000  863000
  2    2022-07-29    62152  868000  875000  862000  865000
  1    2022-08-01    63497  857000  879000  856000  878000
  0    2022-08-02    54952  882000  883000  860000  866000

  [1409 rows x 6 columns],
  '068270':              일자      거래량      시가      고가      저가      종가
  2999 2010-06-08  1383178   17328   17905   17194   17728
  2998 2010-06-09   909685   17772   18083   17461   17994
  2997 2010-06-10   842885   18261   18305   18039   18216
  2996 2010-06-11  1266465   18572   18838   18261   18483
  2995 2010-06-14  1361897   18616   18883   18350   18705
  ...         ...      ...     ...     ...     ...     ...
  4    2022-07-27   356411  186000  191000  186000  189500
  3    2022-07-28   349970  191000  191500  189000  190000
  2    2022-07-29   282424  192000  192500  188500  190000
  1    2022-08-01   241140  190500  190500  186000  187500
  0    2022-08-02   244365  188000  190000  185500  186000

  [3000 rows x 6 columns],
  '000100':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08  252801  22433  23389  22212  23389
  2998 2010-06-09  156377  23389  23389  22874  23315
  2997 2010-06-10  454031  23389  23536  22948  23536
  2996 2010-06-11  367464  23389  23610  22653  23095
  2995 2010-06-14  321196  22948  23389  22653  22727
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27  140105  58100  58100  57500  58000
  3    2022-07-28  130141  57600  58300  57600  57800
  2    2022-07-29  170417  58000  58300  57500  57800
  1    2022-08-01  162282  57700  57700  56800  57200
  0    2022-08-02  117339  56900  57200  56500  56700

  [3000 rows x 6 columns],
  '128940':              일자     거래량      시가      고가      저가      종가
  2961 2010-07-30  383395   57942   66633   57942   64316
  2960 2010-08-02  159281   63414   63672   58264   58586
  2959 2010-08-03   57060   58715   59873   58586   58715
  2958 2010-08-04   99727   58715   60002   55367   58715
  2957 2010-08-05  114537   59552   59552   56268   56654
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27   19062  307000  311000  306000  309000
  3    2022-07-28   16656  308500  311500  308500  309000
  2    2022-07-29   17174  311500  314500  308000  309500
  1    2022-08-01   17830  307000  312500  306000  307500
  0    2022-08-02   19510  309000  309500  303500  304500

  [2962 rows x 6 columns]},
 'Non_Metal': {'003670':              일자      거래량      시가      고가      저가      종가
  2999 2010-06-08    43936    7097    7135    6937    7078
  2998 2010-06-09    53468    7078    7106    6900    6956
  2997 2010-06-10    54074    7041    7050    6956    6956
  2996 2010-06-11    77606    7031    7088    6871    6956
  2995 2010-06-14    48128    7050    7050    6787    6862
  ...         ...      ...     ...     ...     ...     ...
  4    2022-07-27   351428  118500  119000  114500  116000
  3    2022-07-28  4407062  118500  139000  117500  135500
  2    2022-07-29   979328  135000  136500  130500  131500
  1    2022-08-01   649284  132500  135000  131500  133500
  0    2022-08-02   440347  134500  136000  131500  133500

  [3000 rows x 6 columns],
  '003410':              일자      거래량    시가    고가    저가    종가
  2999 2010-06-08   313987  1159  1164  1133  1159
  2998 2010-06-09   333429  1159  1159  1131  1138
  2997 2010-06-10  1011509  1133  1133  1094  1094
  2996 2010-06-11   786857  1112  1118  1092  1094
  2995 2010-06-14   643862  1105  1140  1099  1127
  ...         ...      ...   ...   ...   ...   ...
  4    2022-07-27  1004403  6480  6770  6480  6730
  3    2022-07-28   471634  6730  6750  6580  6600
  2    2022-07-29   381918  6610  6700  6610  6670
  1    2022-08-01   335437  6700  6770  6670  6770
  0    2022-08-02   306086  6770  6800  6680  6750

  [3000 rows x 6 columns],
  '010780':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08   54032   5859   6191   5859   6153
  2998 2010-06-09  109726   6217   6396   6185   6319
  2997 2010-06-10  119332   6249   6908   6249   6844
  2996 2010-06-11  101470   7004   7355   6588   6844
  2995 2010-06-14   45652   7036   7036   6588   6620
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27   28466  40850  40950  40200  40450
  3    2022-07-28   41139  41000  41200  40250  40350
  2    2022-07-29   60010  40350  41050  40200  40300
  1    2022-08-01   28527  40200  40800  40150  40700
  0    2022-08-02   29355  40400  41000  40250  40400

  [3000 rows x 6 columns]},
 'Metal': {'005490':              일자     거래량      시가      고가      저가      종가
  2999 2010-06-08  168069  447000  453000  442500  450000
  2998 2010-06-09  269627  446000  452000  443000  447000
  2997 2010-06-10  284195  450000  455000  445000  448500
  2996 2010-06-11  341722  457500  466000  457000  465500
  2995 2010-06-14  338840  474000  478500  470000  473000
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27  185386  235500  237000  234000  236500
  3    2022-07-28  179304  238500  239500  237000  238500
  2    2022-07-29  306236  237500  243000  237500  242000
  1    2022-08-01  273551  245000  245000  238500  240000
  0    2022-08-02  277704  240000  240500  234500  236000

  [3000 rows x 6 columns],
  '010130':              일자     거래량      시가      고가      저가      종가
  2999 2010-06-08  150151  183000  187000  180000  183500
  2998 2010-06-09  188979  187500  193000  186000  191000
  2997 2010-06-10  150810  193000  198000  191500  198000
  2996 2010-06-11   89388  198000  200500  195500  199500
  2995 2010-06-14   85989  198000  205000  197000  203000
  ...         ...     ...     ...     ...     ...     ...
  4    2022-07-27   29138  471000  473500  462500  467000
  3    2022-07-28   29431  469500  474000  467500  472500
  2    2022-07-29   41110  479500  483500  476000  477500
  1    2022-08-01   65539  477000  493500  476500  487000
  0    2022-08-02   27854  480000  483000  475500  479500

  [3000 rows x 6 columns],
  '004020':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08  591502  82800  84300  82400  83000
  2998 2010-06-09  694504  83800  85600  83100  85300
  2997 2010-06-10  405120  85500  86800  84400  86500
  2996 2010-06-11  499714  87500  87900  86700  87200
  2995 2010-06-14  470386  87000  88800  87000  87800
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27  575118  33700  33800  32700  33150
  3    2022-07-28  391688  33350  33550  33100  33350
  2    2022-07-29  618135  33450  34100  33350  34100
  1    2022-08-01  423635  34200  34400  33550  33900
  0    2022-08-02  353866  33950  34100  33000  33150

  [3000 rows x 6 columns],
  '016380':              일자      거래량      시가      고가      저가      종가
  2999 2010-06-08     2938  480258  491998  476523  491998
  2998 2010-06-09     2197  494132  494132  482926  483460
  2997 2010-06-10     2694  483993  498401  483993  493599
  2996 2010-06-11     5667  501603  514943  498935  510674
  2995 2010-06-14     7293  515477  533620  513876  532553
  ...         ...      ...     ...     ...     ...     ...
  4    2022-07-27   488270   12200   12300   11900   12000
  3    2022-07-28  1850246   12150   12750   12050   12100
  2    2022-07-29   467832   12200   12450   12100   12250
  1    2022-08-01   657551   12350   12750   12300   12550
  0    2022-08-02   521322   12600   12700   12150   12250

  [3000 rows x 6 columns],
  '001230':              일자     거래량     시가     고가     저가     종가
  2999 2010-06-08  204919  18066  18382  17840  18382
  2998 2010-06-09  211957  18382  18518  18111  18201
  2997 2010-06-10  299575  18292  18969  18247  18653
  2996 2010-06-11  241281  18924  19240  18924  19060
  2995 2010-06-14  266388  19285  19692  19240  19556
  ...         ...     ...    ...    ...    ...    ...
  4    2022-07-27  250673  12700  12700  12450  12550
  3    2022-07-28  268443  12700  12850  12550  12650
  2    2022-07-29  686362  12750  13300  12700  13250
  1    2022-08-01  419680  13400  13450  13050  13100
  0    2022-08-02  513049  13100  13150  12550  12700

  [3000 rows x 6 columns]},
 'Machine': {'034020':              일자      거래량     시가     고가     저가     종가
  2999 2010-06-08   733424  53244  54009  52709  53780
  2998 2010-06-09  1401169  53780  56228  53015  53627
  2997 2010-06-10   611957  54392  55233  54162  54468
  2996 2010-06-11   602592  55463  55463  54545  54927
  2995 2010-06-14   552733  55310  55845  54851  55310
  ...         ...      ...    ...    ...    ...    ...
  4    2022-07-27  1948230  17750  17950  17600  17900
  3    2022-07-28  3017942  18200  18200  17800  18150
  2    2022-07-29  6072369  18200  19000  18100  18750
  1    2022-08-01  3055710  18800  18950  18500  18750
  0    2022-08-02  4310639  18800  19200  18300  18450

  [3000 rows x 6 columns],
  '018880':              일자      거래량     시가     고가     저가     종가
  2999 2010-06-08  1276965   3000   3090   2970   3050
  2998 2010-06-09  1323250   3070   3090   3010   3080
  2997 2010-06-10  2192070   3080   3130   2990   3050
  2996 2010-06-11   833625   3100   3100   3020   3020
  2995 2010-06-14  1119085   3040   3170   3040   3140
  ...         ...      ...    ...    ...    ...    ...
  4    2022-07-27   349952  10550  10550  10300  10450
  3    2022-07-28   368980  10450  10600  10350  10450
  2    2022-07-29   744701  10500  10800  10500  10650
  1    2022-08-01   431680  10500  10800  10400  10700

In [4]:
for sector_name, sector_dic in df_sector.items():
    for stock_code, df in sector_dic.items():
        df.set_index('일자',inplace=True)

# 2. 데이터 분할

In [5]:
from sklearn.model_selection import train_test_split
X_train_dic = {}
X_test_dic={}
y_train_dic = {}
y_test_dic = {}
#모델이 각 업종마다 존재한다. 18개
for sector_name, sector_dic in df_sector.items():
    X_train_dic[sector_name] = {}
    X_test_dic[sector_name]={}
    y_train_dic[sector_name] = {}
    y_test_dic[sector_name] = {}
    
    for stock_code, df in sector_dic.items():
        # 단 셔플 없이 분할
        X_train, X_test, y_train, y_test = train_test_split(df.drop('종가', 1), df['종가'], test_size=0.2, random_state=0, shuffle=False)
        X_train_dic[sector_name][stock_code] = X_train
        X_test_dic[sector_name][stock_code] = X_test
        y_train_dic[sector_name][stock_code] = y_train
        y_test_dic[sector_name][stock_code] = y_test

In [6]:
sector

{'Food': ['097950', '271560', '000080', '004370', '005300'],
 'Clothing': ['093050', '020000', '105630', '001070'],
 'Chemical': ['051910', '096770', '010950', '051900', '090430'],
 'Medicine': ['207940', '068270', '000100', '128940'],
 'Non_Metal': ['003670', '003410', '010780'],
 'Metal': ['005490', '010130', '004020', '016380', '001230'],
 'Machine': ['034020', '018880', '241560', '112610'],
 'Electronic': ['005930', '000660', '006400', '066570'],
 'Construction': ['000720', '006360', '047040', '051600'],
 'Transport': ['011200', '003490', '086280', '180640', '028670'],
 'Distribution': ['028260', '023530', '282330', '139480', '004170'],
 'Power': ['015760', '036460', '017390'],
 'Tele': ['017670', '030200', '032640'],
 'Finance': ['003550', '000810', '006800'],
 'Brokerage': ['005940', '016360', '008560', '039490'],
 'Insurer': ['032830', '005830', '000060', '001450'],
 'Service': ['035420', '035720', '018260', '036570'],
 'Manufacturer': ['005380', '000270', '012330', '033780', '009150']}

In [7]:
for sector_name, stock_code_list in sector.items():
    for stock_code in stock_code_list:
        print(stock_code)
        print('훈련 데이터셋 : ', X_train_dic[sector_name][stock_code].shape, y_train_dic[sector_name][stock_code].shape)
        print('테스트 데이터셋 : ', X_test_dic[sector_name][stock_code].shape, y_test_dic[sector_name][stock_code].shape)
        print('-'*40)

097950
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
271560
훈련 데이터셋 :  (997, 4) (997,)
테스트 데이터셋 :  (250, 4) (250,)
----------------------------------------
000080
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
004370
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
005300
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
093050
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
020000
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
105630
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
001070
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
051910
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
096770
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
010950
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
051900
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
090430
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
207940
훈련 데이터셋 :  (1127, 4) (1127,)
테스트 데이터셋 :  (282, 4) (282,)
----------------------------------------
068270
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
000100
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
128940
훈련 데이터셋 :  (2369, 4) (2369,)
테스트 데이터셋 :  (593, 4) (593,)
----------------------------------------
003670
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
003410
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
010780
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
005490
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
010130
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
004020
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
016380
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
001230
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
034020
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
018880
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
241560
훈련 데이터셋 :  (1122, 4) (1122,)
테스트 데이터셋 :  (281, 4) (281,)
----------------------------------------
112610
훈련 데이터셋 :  (1512, 4) (1512,)
테스트 데이터셋 :  (378, 4) (378,)
----------------------------------------
005930
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
000660
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
006400
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
066570
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
000720
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
006360
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
047040
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
051600
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
011200
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
003490
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
086280
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
180640
훈련 데이터셋 :  (1745, 4) (1745,)
테스트 데이터셋 :  (437, 4) (437,)
----------------------------------------
028670
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
028260
훈련 데이터셋 :  (1500, 4) (1500,)
테스트 데이터셋 :  (375, 4) (375,)
----------------------------------------
023530
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
282330
훈련 데이터셋 :  (915, 4) (915,)
테스트 데이터셋 :  (229, 4) (229,)
----------------------------------------
139480
훈련 데이터셋 :  (2198, 4) (2198,)
테스트 데이터셋 :  (550, 4) (550,)
----------------------------------------
004170
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
015760
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
036460
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
017390
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
017670
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
030200
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
032640
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
003550
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
000810
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
006800
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
005940
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
016360
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
008560
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
039490
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
032830
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
005830
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
000060
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
001450
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
035420
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
035720
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
018260
훈련 데이터셋 :  (1562, 4) (1562,)
테스트 데이터셋 :  (391, 4) (391,)
----------------------------------------
036570
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
005380
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
000270
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
012330
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
033780
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------
009150
훈련 데이터셋 :  (2400, 4) (2400,)
테스트 데이터셋 :  (600, 4) (600,)
----------------------------------------

In [8]:
X_train_dic['Food']['097950']

              거래량      시가      고가      저가
일자
2010-06-08  50727  211000  213500  209500
2010-06-09  52375  212000  218000  210500
2010-06-10  61195  214500  219500  213500
2010-06-11  89684  217000  220000  211500
2010-06-14  41941  216000  220000  215500
...           ...     ...     ...     ...
2020-02-24  89274  272500  279500  260000
2020-02-25  49084  263000  267500  260500
2020-02-26  61033  259500  268000  259000
2020-02-27  38562  263000  263500  256000
2020-02-28  75193  257500  257500  243500

[2400 rows x 4 columns]

In [9]:
X_test_dic['Food']['097950']

              거래량      시가      고가      저가
일자
2020-03-02  56974  245500  250000  239500
2020-03-03  47963  253500  253500  248500
2020-03-04  47037  253000  260000  247500
2020-03-05  44751  259500  260500  254500
2020-03-06  49725  258500  262000  254500
...           ...     ...     ...     ...
2022-07-27  16778  396500  400000  394000
2022-07-28  25944  395500  398000  391000
2022-07-29  27618  397500  397500  389000
2022-08-01  37653  391500  392000  383500
2022-08-02  29305  387000  388000  383000

[600 rows x 4 columns]

In [10]:
y_train_dic['Food']

{'097950': 일자
 2010-06-08    211000
 2010-06-09    214000
 2010-06-10    219000
 2010-06-11    214500
 2010-06-14    219000
                ...
 2020-02-24    263000
 2020-02-25    262000
 2020-02-26    264500
 2020-02-27    259000
 2020-02-28    244000
 Name: 종가, Length: 2400, dtype: int32,
 '271560': 일자
 2017-07-07     82300
 2017-07-10     88000
 2017-07-11     82800
 2017-07-12     83500
 2017-07-13     81600
                ...
 2021-07-21    118500
 2021-07-22    119000
 2021-07-23    118500
 2021-07-26    117500
 2021-07-27    117500
 Name: 종가, Length: 997, dtype: int32,
 '000080': 일자
 2010-06-08    32600
 2010-06-09    32500
 2010-06-10    32700
 2010-06-11    33800
 2010-06-14    34150
               ...
 2020-02-24    28300
 2020-02-25    28650
 2020-02-26    27950
 2020-02-27    27600
 2020-02-28    26600
 Name: 종가, Length: 2400, dtype: int32,
 '004370': 일자
 2010-06-08    222000
 2010-06-09    222000
 2010-06-10    224500
 2010-06-11    227000
 2010-06-14    226500
                ...
 2020-02-24    280000
 2020-02-25    277000
 2020-02-26    275500
 2020-02-27    273000
 2020-02-28    264000
 Name: 종가, Length: 2400, dtype: int32,
 '005300': 일자
 2010-06-08     78200
 2010-06-09     77600
 2010-06-10     76800
 2010-06-11     77600
 2010-06-14     78600
                ...
 2020-02-24    116000
 2020-02-25    116500
 2020-02-26    116500
 2020-02-27    114500
 2020-02-28    112500
 Name: 종가, Length: 2400, dtype: int32}

# 3. 정규화

In [11]:
from sklearn.preprocessing import MinMaxScaler

X_train_scaled_dic = {}
X_test_scaled_dic = {}
y_train_scaled_dic = {}
y_test_scaled_dic = {}
X_scaler_dic = {}
y_scaler_dic = {}
#스케일을 적용할 column을 정의합니다.\
#스케일을 훈련 데이터 세트로 fit()을 수행한 결과를 이용해 테스트 데이터셋을 변환
#X_train_dic -> X_scaled_train_dic / X_test_dic -> X_scaled_test_dic
scale_cols = ['거래량','시가','고가', '저가']
for sector_name, sector_dic in X_train_dic.items():
    X_train_scaled_dic[sector_name] = {}
    X_test_scaled_dic[sector_name] = {}
    y_train_scaled_dic[sector_name] = {}
    y_test_scaled_dic[sector_name] = {}
    X_scaler_dic[sector_name] = {}
    y_scaler_dic[sector_name] = {}

    for stock_code, df in sector_dic.items():
        X_scaler = MinMaxScaler()
        #훈련데이터를 정규화 학습 및 변환
        X_train_scaled = X_scaler.fit_transform(df[scale_cols])
        X_train_scaled_dic[sector_name][stock_code] = pd.DataFrame(X_train_scaled,index = df.index,columns=scale_cols)
        #테스트 데이터를 훈련데이터 scaler로 정규화
        test_df = X_test_dic[sector_name][stock_code]
        X_test_scaled = X_scaler.transform(test_df[scale_cols])
        X_test_scaled_dic[sector_name][stock_code] = pd.DataFrame(X_test_scaled,index = test_df.index,columns=scale_cols)
        X_scaler_dic[sector_name][stock_code] = X_scaler
        
        y_scaler = MinMaxScaler()
        train_y = y_train_dic[sector_name][stock_code].to_numpy().reshape(-1,1)
        y_train_scaled = y_scaler.fit_transform(train_y)
        y_train_scaled_dic[sector_name][stock_code] = pd.DataFrame(y_train_scaled,index = y_train_dic[sector_name][stock_code].index,columns=['종가'])
        #테스트 데이터를 훈련데이터 scaler로 정규화
        test_y = y_test_dic[sector_name][stock_code].to_numpy().reshape(-1,1)
        y_test_scaled = y_scaler.transform(test_y)
        y_test_scaled_dic[sector_name][stock_code] = pd.DataFrame(y_test_scaled,index = y_test_dic[sector_name][stock_code].index,columns=['종가'])
        y_scaler_dic[sector_name][stock_code] = y_scaler

In [12]:
X_train_scaled_dic['Food']['097950']

                 거래량        시가        고가        저가
일자
2010-06-08  0.067022  0.070501  0.069091  0.072549
2010-06-09  0.069804  0.074212  0.085455  0.076471
2010-06-10  0.084692  0.083488  0.090909  0.088235
2010-06-11  0.132782  0.092764  0.092727  0.080392
2010-06-14  0.052191  0.089054  0.092727  0.096078
...              ...       ...       ...       ...
2020-02-24  0.132090  0.298701  0.309091  0.270588
2020-02-25  0.064249  0.263451  0.265455  0.272549
2020-02-26  0.084419  0.250464  0.267273  0.266667
2020-02-27  0.046488  0.263451  0.250909  0.254902
2020-02-28  0.108321  0.243043  0.229091  0.205882

[2400 rows x 4 columns]

In [13]:
X_test_dic['Food']['097950']

              거래량      시가      고가      저가
일자
2020-03-02  56974  245500  250000  239500
2020-03-03  47963  253500  253500  248500
2020-03-04  47037  253000  260000  247500
2020-03-05  44751  259500  260500  254500
2020-03-06  49725  258500  262000  254500
...           ...     ...     ...     ...
2022-07-27  16778  396500  400000  394000
2022-07-28  25944  395500  398000  391000
2022-07-29  27618  397500  397500  389000
2022-08-01  37653  391500  392000  383500
2022-08-02  29305  387000  388000  383000

[600 rows x 4 columns]

In [14]:
y_test_scaled_dic['Food']['097950']

                  종가
일자
2020-03-02  0.204887
2020-03-03  0.214286
2020-03-04  0.248120
2020-03-05  0.251880
2020-03-06  0.259398
...              ...
2022-07-27  0.761278
2022-07-28  0.761278
2022-07-29  0.748120
2022-08-01  0.731203
2022-08-02  0.725564

[600 rows x 1 columns]

In [15]:
for sector_name, stock_code_list in sector.items():
    for stock_code in stock_code_list:
        print(stock_code)
        print('훈련 데이터셋 : ', X_train_scaled_dic[sector_name][stock_code].shape, y_train_scaled_dic[sector_name][stock_code].shape)
        print('테스트 데이터셋 : ', X_test_scaled_dic[sector_name][stock_code].shape, y_test_scaled_dic[sector_name][stock_code].shape)
        print('-'*40)

097950
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
271560
훈련 데이터셋 :  (997, 4) (997, 1)
테스트 데이터셋 :  (250, 4) (250, 1)
----------------------------------------
000080
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
004370
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
005300
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
093050
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
020000
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
105630
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
001070
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
051910
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
096770
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
010950
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
051900
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
090430
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
207940
훈련 데이터셋 :  (1127, 4) (1127, 1)
테스트 데이터셋 :  (282, 4) (282, 1)
----------------------------------------
068270
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
000100
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
128940
훈련 데이터셋 :  (2369, 4) (2369, 1)
테스트 데이터셋 :  (593, 4) (593, 1)
----------------------------------------
003670
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
003410
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
010780
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
005490
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
010130
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
004020
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
016380
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
001230
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
034020
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
018880
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
241560
훈련 데이터셋 :  (1122, 4) (1122, 1)
테스트 데이터셋 :  (281, 4) (281, 1)
----------------------------------------
112610
훈련 데이터셋 :  (1512, 4) (1512, 1)
테스트 데이터셋 :  (378, 4) (378, 1)
----------------------------------------
005930
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
000660
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
006400
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
066570
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
000720
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
006360
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
047040
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
051600
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
011200
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
003490
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
086280
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
180640
훈련 데이터셋 :  (1745, 4) (1745, 1)
테스트 데이터셋 :  (437, 4) (437, 1)
----------------------------------------
028670
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
028260
훈련 데이터셋 :  (1500, 4) (1500, 1)
테스트 데이터셋 :  (375, 4) (375, 1)
----------------------------------------
023530
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
282330
훈련 데이터셋 :  (915, 4) (915, 1)
테스트 데이터셋 :  (229, 4) (229, 1)
----------------------------------------
139480
훈련 데이터셋 :  (2198, 4) (2198, 1)
테스트 데이터셋 :  (550, 4) (550, 1)
----------------------------------------
004170
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
015760
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
036460
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
017390
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
017670
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
030200
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
032640
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
003550
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
000810
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
006800
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
005940
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
016360
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
008560
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
039490
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
032830
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
005830
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
000060
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
001450
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
035420
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
035720
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
018260
훈련 데이터셋 :  (1562, 4) (1562, 1)
테스트 데이터셋 :  (391, 4) (391, 1)
----------------------------------------
036570
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
005380
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
000270
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
012330
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
033780
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------
009150
훈련 데이터셋 :  (2400, 4) (2400, 1)
테스트 데이터셋 :  (600, 4) (600, 1)
----------------------------------------

In [16]:
with open('X_train_scaled_dic.pickle','wb') as f:
    pickle.dump(X_train_scaled_dic, f)
with open('X_test_scaled_dic.pickle','wb') as f:
    pickle.dump(X_test_scaled_dic, f)
with open('y_train_scaled_dic.pickle','wb') as f:
    pickle.dump(y_train_scaled_dic, f)
with open('y_test_scaled_dic.pickle','wb') as f:
    pickle.dump(y_test_scaled_dic, f)

In [17]:
with open('X_scaler_dic.pickle', 'wb') as f:
    pickle.dump(X_scaler_dic,f)
with open('y_scaler_dic.pickle', 'wb') as f:
    pickle.dump(y_scaler_dic,f)